@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Fraunces";
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

:root {
    --clr-green-500: hsl(158, 36%, 37%);
    --clr-green-700: hsl(158, 42%, 18%);

    --clr-black: hsl(212, 21%, 14%);
    --clr-grey: hsl(228, 12%, 48%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-white: hsl(0, 0%, 100%);

    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--clr-cream);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    width: min(600px, 90vw);

    background-color: var(--clr-white);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.product-image {
    flex: 0 1 50%;
    display: flex;
}

.product-card__image--desktop {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    box-sizing: border-box;
}

.product-card__image--mobile {
    display: none;
}

.product-content {
    flex: 0 1 50%;
    padding: 32px;

    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    height: 100%;
}

.product__title {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 2.3rem;
    color: var(--clr-green-700);
    line-height: 1;
}

.product__category {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 5px;
    color: var(--clr-grey);
    line-height: 1;
}

.product__description {
    font-family: "Montserrat";
    color: var(--clr-grey);
    line-height: 1.6;
    font-weight: 500;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 24px;
}

.product-price__discount {
    font-family: "Fraunces";
    color: var(--clr-green-500);
    font-size: 2.5rem;
    font-weight: 700;
}

.product-price__regular {
    color: var(--clr-grey);
    text-decoration: line-through;
}

.product-card__add-cart {
    text-decoration: none;
    background-color: var(--clr-green-500);
    color: var(--clr-white);

    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    gap: 8px;
}

@media screen and (width < 675px){
    .product-card {
        max-width: 350px;
    }

    .product-image {
        min-width: 300px;
        flex: 1;
    }

    .product-content {
        flex: 1;
    }

    .product-card__image--desktop {
        display: none;
    }
    .product-card__image--mobile {
        display: flex;
        max-width: 100%;
        height: 100%;
        
        object-fit: cover;
        box-sizing: border-box;
    }
}